body {
    background-color: green;
    background-image: linear-gradient(90deg, white 0%, #2eacd4 100%);
}
 .button {
     background-color: grey;
     width: 100px;
     height: 30px;
     border-radius: 12px;
     border-color: black;
 }

 .lgButton {
    background-color: white;
    width: 200px;
    height: 30px;
    border-radius: 12px;
    border-color: grey;
}

 .dataTable {
    background-image: linear-gradient(180deg, white 0%, lightblue 100%);

 }